In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine,correlation

In [2]:
books=pd.read_csv('book.csv',encoding='Latin1')
books

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [3]:
books1=books.drop("Unnamed: 0", axis=1)
books1

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [4]:
books1.sort_values(['User.ID'], inplace=True)

In [5]:
len(books1['User.ID'].unique())

2182

In [6]:
books1["User.ID"].value_counts()

3757      523
162052    214
2276      212
4017      156
277427    150
         ...
3800        1
3798        1
739         1
3789        1
3934        1
Name: User.ID, Length: 2182, dtype: int64

In [7]:
len(books1["User.ID"].value_counts())

2182

In [8]:
len(books1['Book.Title'].unique())

9659

In [9]:
books2=books1.pivot_table(index='User.ID',columns='Book.Title',values='Book.Rating').reset_index(drop=True)
books2

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
books2.index=books1['User.ID'].unique()
books2

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
278852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
books2.fillna(0,inplace=True)
books2

Book.Title,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,Ã?Â?bermorgen.
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
user_similarity=1-pairwise_distances(books2.values,metric='cosine')
user_similarity

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [13]:
pd.DataFrame(user_similarity)

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [14]:
user_similarity

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [15]:
user_similarity1=pd.DataFrame(user_similarity)
user_similarity1

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [16]:
user_similarity1.index=books1['User.ID'].unique()
user_similarity1.columns=books1['User.ID'].unique()
user_similarity1

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
np.fill_diagonal(user_similarity, 0)
user_similarity1

,8,9,10,12,14,16,17,19,22,26,...,278831,278832,278836,278843,278844,278846,278849,278851,278852,278854
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278846,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278851,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278852,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278854,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
user_similarity

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [19]:
user_similarity1.idxmax(axis=1)[0:5]

8     8
9     8
10    8
12    8
14    8
dtype: int64

In [20]:
for i in user_similarity1.index:
    if user_similarity1.loc[i].max()!=0:
        print(i, "and", user_similarity1.idxmax(axis=1)[i], ":", user_similarity1.loc[i].max())

19 and 278418 : 0.08704569738537926
51 and 3757 : 0.04354129784609928
53 and 1996 : 0.12542944911781295
82 and 882 : 0.17492785713532988
83 and 276861 : 0.3086974532565159
85 and 1211 : 0.15291070710470644
86 and 276780 : 0.7071067811865476
160 and 899 : 0.053004452020077863
183 and 1123 : 0.1564455530872303
190 and 277427 : 0.09528564188809996
242 and 277982 : 0.05945010212069157
254 and 160871 : 0.059340715324182725
316 and 161098 : 0.16854996561581048
392 and 277009 : 0.27921242185096395
444 and 503 : 0.15039533673401106
446 and 161882 : 0.03425677495141588
486 and 276925 : 0.1665382144960107
503 and 444 : 0.15039533673401106
505 and 276798 : 0.1629857194546901
507 and 277228 : 0.1136484941855479
508 and 3874 : 0.49590352247721836
596 and 277527 : 0.15889162445979155
625 and 507 : 0.04543113819955358
638 and 278418 : 0.016945458695175608
643 and 276872 : 0.051983080457317477
651 and 278137 : 0.02801723901861064
657 and 1178 : 0.09101100256803185
698 and 161645 : 1.0
705 and 162063 : 1.0
735 and 277246 : 0.33174440134851857
741 and 1056 : 0.2792903867389728
753 and 278202 : 0.029964542959292517
763 and 2337 : 0.10844160586017293
776 and 278188 : 0.06799815780221052
819 and 161102 : 0.24639139204061333
850 and 899 : 0.13730110925786487
882 and 82 : 0.17492785713532988
899 and 850 : 0.13730110925786487
901 and 277197 : 0.16610635389758344
933 and 162004 : 1.0
984 and 3346 : 0.05416487846153806
1025 and 278218 : 0.033728477670785906
1032 and 1435 : 0.08880365878611451
1056 and 741 : 0.2792903867389728
1063 and 276929 : 0.04755052745585098
1075 and 2033 : 0.03195067712300936
1113 and 277171 : 0.199387088271767
1116 and 278843 : 0.05303258581814896
1123 and 183 : 0.1564455530872303
1129 and 1733 : 0.017883665605468724
1131 and 278637 : 0.05584484277893187
1155 and 1161 : 0.14868397806331313
1161 and 1155 : 0.14868397806331313
1178 and 657 : 0.09101100256803185
1192 and 277660 : 0.4374263186665135
1200 and 278418 : 0.10155331361627584
1211 and 85 : 0.15291070710470644
1219 and 277018 : 0.315388198575679
1248 and 277427 : 0.010342482113268603
1297 and 277427 : 0.04120736630727806
1309 and 3538 : 0.1634091640650942
1326 and 1559 : 1.0
1348 and 2576 : 0.7525766947068778
1377 and 1848 : 0.20044145734457897
1378 and 3192 : 0.37426971693108313
1412 and 1733 : 0.04814245992700983
1424 and 161348 : 0.04714483404274972
1435 and 1032 : 0.08880365878611451
1466 and 1674 : 0.08545038558739015
1467 and 278297 : 0.3363363969981562
1485 and 278356 : 0.0862965782227727
1513 and 4197 : 0.2548644623048695
1545 and 277710 : 0.19222773253288505
1548 and 3640 : 0.08466238077599553
1559 and 1326 : 1.0
1585 and 278535 : 0.04330465349744206
1619 and 2891 : 0.08914806731460301
1650 and 2363 : 0.2195121951219512
1660 and 161870 : 0.06987846539659348
1674 and 278245 : 0.1671887620173511
1706 and 278356 : 0.08024475868815073
1725 and 3142 : 0.20225365338603707
1733 and 2576 : 0.11038946493217638
1773 and 161041 : 0.09957306228476304
1791 and 278418 : 0.04361836846297107
1835 and 277427 : 0.07622851351047999
1848 and 1377 : 0.20044145734457897
1850 and 2024 : 0.152044367951912
1881 and 276847 : 0.14246927023764777
1891 and 3167 : 0.16248692281599342
1903 and 3363 : 0.010597378726034057
1928 and 2893 : 0.17958559874088087
1990 and 161065 : 0.16621089472223716
1996 and 53 : 0.12542944911781295
2010 and 277427 : 0.029174095126702104
2024 and 1850 : 0.152044367951912
2033 and 276986 : 0.03445935270682987
2070 and 278161 : 1.0
2077 and 277938 : 0.49846389805954017
2084 and 392 : 0.03643793759204805
2090 and 276953 : 0.2426767784097661
2103 and 277087 : 0.07783941169956043
2110 and 278248 : 0.11657102052599089
2136 and 162052 : 0.030546432046920313
2170 and 161744 : 0.2564774514285437
2172 and 161619 : 0.06499336836196812
2179 and 161777 : 0.06214192535782892
2197 and 161795 : 0.19137723286310415
2198 and 2891 : 0.1514564891325506
2276 and 277830 : 0.08085247482575908
2313 and 3363 : 0.020761231166083305
2337 and 3368 : 0.13332236075105464
2355 and 277284 : 1.0
2363 and 1650 : 0.2195121951219512
2411 and 161936 : 0.05212307814533024
2437 and 161173 : 0.24411127907894137
2439 and 277228 : 0.24557624540596823
2442 and 4207 : 0.16893434459987144
2461 and 276928 : 0.31746113363655515
2462 and 277856 : 0.19564639521780736
2520 and 4225 : 0.46324105461207943
2552 and 882 : 0.07469349474855502
2576 and 160926 : 1.0
2578 and 3791 : 0.2579601482354086
2599 and 276939 : 0.30304576336566325
2611 and 1211 : 0.15291070710470644
2685 and 3757 : 0.006427581601002097
2693 and 735 : 0.23457871581420908
2719 and 161102 : 0.11700276960187939
2766 and 277533 : 0.07745727630436394
2769 and 277982 : 0.08714799602763834
2891 and 2198 : 0.1514564891325506
2893 and 1928 : 0.17958559874088087
2977 and 278137 : 0.01629608972359098
3017 and 1435 : 0.03874169498043567
3142 and 1725 : 0.20225365338603707
3167 and 1891 : 0.16248692281599342
3192 and 1378 : 0.37426971693108313
3326 and 3719 : 0.08341150174853351
3346 and 277765 : 0.10352524058952384
3355 and 3363 : 0.043816565430694565
3363 and 3355 : 0.043816565430694565
3368 and 2337 : 0.13332236075105464
3481 and 161200 : 0.07130320712367821
3538 and 1309 : 0.1634091640650942
3556 and 161974 : 0.03786459729002578
3578 and 277517 : 0.10365264353715942
3594 and 276954 : 0.14363394545121533
3601 and 277619 : 0.5499719409228703
3640 and 1548 : 0.08466238077599553
3660 and 278026 : 0.13409567993096116
3675 and 643 : 0.02310797153767319
3719 and 3326 : 0.08341150174853351
3728 and 507 : 0.09556298189177936
3757 and 51 : 0.04354129784609928
3791 and 2578 : 0.2579601482354086
3827 and 277743 : 0.12951316204417074
3837 and 161974 : 0.18111789093066344
3839 and 3757 : 0.03305901786520471
3840 and 3757 : 0.010344700677307861
3874 and 508 : 0.49590352247721836
3917 and 3923 : 0.03783114175645319
3923 and 3917 : 0.03783114175645319
3951 and 3952 : 1.0
3952 and 3951 : 1.0
3960 and 2442 : 0.13514747567989716
4017 and 161542 : 0.08826775146438315
4049 and 4207 : 0.4536383816989942
4066 and 503 : 0.10770314228116817
4090 and 4091 : 0.17969306421233322
4091 and 4090 : 0.17969306421233322
4092 and 161936 : 0.03601456147008808
4128 and 2442 : 0.08446717229993572
4149 and 3757 : 0.020427723467243863
4157 and 4209 : 0.18295574149853933
4197 and 1513 : 0.2548644623048695
4207 and 4049 : 0.4536383816989942
4209 and 4157 : 0.18295574149853933
4225 and 2520 : 0.46324105461207943
160871 and 254 : 0.059340715324182725
160926 and 2576 : 1.0
160939 and 278529 : 0.1060542941369258
161039 and 161694 : 0.12357788318574525
161041 and 1773 : 0.09957306228476304
161065 and 1990 : 0.16621089472223716
161075 and 2276 : 0.05659673237803131
161098 and 316 : 0.16854996561581048
161102 and 819 : 0.24639139204061333
161167 and 277554 : 0.18292682926829273
161173 and 2437 : 0.24411127907894137
161200 and 276800 : 0.15675898328194926
161211 and 277439 : 0.07861272446781842
161222 and 278064 : 0.12934987016553223
161234 and 2355 : 0.2752988806446741
161238 and 2276 : 0.0727672273431832
161250 and 277945 : 0.0764548362963341
161252 and 1211 : 0.036594015375485345
161265 and 277203 : 0.016187152680754435
161338 and 277427 : 0.05390169882303075
161348 and 1424 : 0.04714483404274972
161356 and 278418 : 0.05113458907769075
161361 and 277982 : 0.16965952877063994
161373 and 278844 : 0.19551518576356286
161480 and 3326 : 0.029982320328328926
161533 and 161750 : 0.12744169434009334
161542 and 278582 : 0.16967593679354076
161577 and 3326 : 0.07707028157362705
161619 and 3326 : 0.07369594973584204
161645 and 698 : 1.0
161694 and 741 : 0.13856683596994346
161730 and 4017 : 0.07061420117150652
161744 and 2170 : 0.2564774514285437
161750 and 161533 : 0.12744169434009334
161765 and 277427 : 0.06330433483015108
161777 and 2179 : 0.06214192535782892
161794 and 276866 : 0.14740991400388204
161795 and 2197 : 0.19137723286310415
161831 and 278694 : 0.08297255327776831
161861 and 2276 : 0.028846642198839922
161870 and 1660 : 0.06987846539659348
161880 and 277687 : 0.3849001794597505
161882 and 446 : 0.03425677495141588
161899 and 161936 : 0.05152809250329227
161936 and 2411 : 0.05212307814533024
161974 and 3837 : 0.18111789093066344
161986 and 161577 : 0.05237672785304415
161993 and 277514 : 0.37939239080827647
162004 and 933 : 1.0
162014 and 278044 : 0.2238603546944209
162030 and 2024 : 0.05927857299376138
162035 and 277711 : 0.12572699658641162
162052 and 2136 : 0.030546432046920313
162063 and 705 : 1.0
276744 and 278012 : 0.47628967220784024
276762 and 277527 : 0.2329333226493001
276780 and 86 : 0.7071067811865476

276798 and 278202 : 0.23452669702749251
276800 and 278675 : 0.6689647316224497
276808 and 161200 : 0.15675898328194926
276813 and 278844 : 0.22871669164841846
276814 and 277240 : 0.5025707110324167
276822 and 162052 : 0.02255648993088688
276847 and 1881 : 0.14246927023764777
276850 and 278206 : 1.0
276854 and 276929 : 0.14438457513688663
276859 and 278418 : 0.02500069757383827
276861 and 83 : 0.3086974532565159
276866 and 161794 : 0.14740991400388204
276872 and 277517 : 0.21367167728915315
276875 and 4207 : 0.06637233115999719
276912 and 277873 : 0.20080483222562473
276925 and 278263 : 0.2769558547034987
276928 and 2461 : 0.31746113363655515
276929 and 276854 : 0.14438457513688663
276934 and 3951 : 1.0
276939 and 2599 : 0.30304576336566325
276953 and 2090 : 0.2426767784097661
276954 and 3594 : 0.14363394545121533
276964 and 277087 : 0.04733778548497891
276965 and 277157 : 0.14457873299156
276984 and 183 : 0.02710622823437192
276986 and 2033 : 0.03445935270682987
276998 and 276939 : 0.15521102455547253
277002 and 161974 : 0.18111789093066344
277009 and 392 : 0.27921242185096395
277012 and 277157 : 0.07051294350777082
277018 and 1219 : 0.315388198575679
277032 and 277478 : 0.12278182636050872
277087 and 2103 : 0.07783941169956043
277157 and 276965 : 0.14457873299156
277168 and 162052 : 0.01831415827330407
277171 and 1113 : 0.199387088271767
277188 and 4017 : 0.03552708464917509
277189 and 277523 : 0.20207175225248875
277195 and 735 : 0.08238053900392461
277197 and 901 : 0.16610635389758344
277203 and 444 : 0.07341530515907502
277228 and 2439 : 0.24557624540596823
277232 and 161974 : 0.18111789093066344
277240 and 276814 : 0.5025707110324167
277244 and 278244 : 0.6622661785325219
277246 and 735 : 0.33174440134851857
277284 and 2355 : 1.0
277378 and 276939 : 0.2827405486501642
277427 and 190 : 0.09528564188809996
277439 and 161211 : 0.07861272446781842
277471 and 277478 : 0.08948473199994655
277478 and 277032 : 0.12278182636050872
277514 and 161993 : 0.37939239080827647
277517 and 276872 : 0.21367167728915315
277523 and 277189 : 0.20207175225248875
277527 and 276762 : 0.2329333226493001
277533 and 2766 : 0.07745727630436394
277554 and 735 : 0.2014824433380955
277563 and 1131 : 0.052440260324586485
277575 and 278529 : 0.18532137279431915
277585 and 277622 : 0.5153253011206647
277588 and 3827 : 0.05521659509752053
277605 and 183 : 0.06937199106758518
277619 and 3601 : 0.5499719409228703
277622 and 277585 : 0.5153253011206647
277639 and 277575 : 0.09608556136199742
277660 and 1192 : 0.4374263186665135
277687 and 161880 : 0.3849001794597505
277698 and 1211 : 0.09514443997626176
277710 and 278715 : 0.2402846656661064
277711 and 162035 : 0.12572699658641162
277743 and 3827 : 0.12951316204417074
277765 and 3346 : 0.10352524058952384
277808 and 882 : 0.08746392856766494
277830 and 2276 : 0.08085247482575908
277856 and 2462 : 0.19564639521780736
277873 and 276912 : 0.20080483222562473
277879 and 2442 : 0.02669542092674204
277915 and 4197 : 0.1704933819019061
277938 and 2077 : 0.49846389805954017
277945 and 161250 : 0.0764548362963341
277959 and 278843 : 0.0806297254604379
277965 and 276939 : 0.12528955331824942
277982 and 161361 : 0.16965952877063994
278007 and 162052 : 0.025556978646897655
278012 and 276744 : 0.47628967220784024
278013 and 278197 : 0.6139406135149205
278026 and 3660 : 0.13409567993096116
278044 and 162014 : 0.2238603546944209
278054 and 3757 : 0.007467270975874629
278064 and 161222 : 0.12934987016553223
278100 and 161974 : 0.04729286685727441
278110 and 278131 : 1.0
278131 and 278110 : 1.0
278137 and 277171 : 0.03588133890733847
278161 and 2070 : 1.0
278188 and 2461 : 0.07497370643553758
278194 and 278336 : 0.29688260613931905
278197 and 278013 : 0.6139406135149205
278202 and 276798 : 0.23452669702749251
278206 and 276850 : 1.0
278218 and 1025 : 0.033728477670785906
278221 and 276939 : 0.06663968716833457
278244 and 277244 : 0.6622661785325219
278245 and 1674 : 0.1671887620173511
278248 and 2110 : 0.11657102052599089
278255 and 278418 : 0.026171021077782575
278263 and 276925 : 0.2769558547034987
278297 and 1467 : 0.3363363969981562
278314 and 277639 : 0.08095884192240876
278319 and 277427 : 0.07622851351047999
278336 and 278194 : 0.29688260613931905
278346 and 278221 : 0.04992432579075268
278356 and 1485 : 0.0862965782227727
278418 and 1200 : 0.10155331361627584
278449 and 1733 : 0.0436802290066578
278529 and 277575 : 0.18532137279431915
278535 and 1585 : 0.04330465349744206
278536 and 161750 : 0.062292702579852754
278550 and 1733 : 0.04538256903325766
278582 and 161542 : 0.16967593679354076
278633 and 1378 : 0.1395264139249528
278636 and 882 : 0.1049567142811979
278637 and 1131 : 0.05584484277893187
278648 and 277240 : 0.5
278668 and 882 : 0.05566170329947051
278675 and 276800 : 0.6689647316224497
278694 and 161831 : 0.08297255327776831
278715 and 277710 : 0.2402846656661064
278843 and 277959 : 0.0806297254604379
278844 and 276813 : 0.22871669164841846
278851 and 278202 : 0.023463636182787573

# From above table user 53 and user 1996 have similarity, lets check the books read by both so that we can recommend others

In [21]:
books1[books1['User.ID']==53]

      User.ID      Book.Title  Book.Rating
2430       53            Prey            9
2427       53      Sick Puppy            3
2429       53  Turning Thirty            6
2428       53       Reliquary           10

In [22]:
books1[books1['User.ID']==1996]

      User.ID             Book.Title  Book.Rating
4589     1996             Sick Puppy            8
4590     1996  CSI, Miami: Heat Wave            7
4591     1996   Tempting the Heiress            7

In [23]:
books1[(books1['User.ID']==53) | (books1['User.ID']==1996)]

      User.ID             Book.Title  Book.Rating
2430       53                   Prey            9
2427       53             Sick Puppy            3
2429       53         Turning Thirty            6
2428       53              Reliquary           10
4589     1996             Sick Puppy            8
4590     1996  CSI, Miami: Heat Wave            7
4591     1996   Tempting the Heiress            7

In [24]:
user_1=books1[(books1['User.ID']==53)]
user_2=books1[(books1['User.ID']==1996)]

In [25]:
user_1['Book.Title']

2430              Prey
2427        Sick Puppy
2429    Turning Thirty
2428         Reliquary
Name: Book.Title, dtype: object

In [26]:
user_2['Book.Title']

4589               Sick Puppy
4590    CSI, Miami: Heat Wave
4591     Tempting the Heiress
Name: Book.Title, dtype: object

In [27]:
pd.merge(user_1,user_2,on='Book.Title',how='outer')

   User.ID_x             Book.Title  Book.Rating_x  User.ID_y  Book.Rating_y
0       53.0                   Prey            9.0        NaN            NaN
1       53.0             Sick Puppy            3.0     1996.0            8.0
2       53.0         Turning Thirty            6.0        NaN            NaN
3       53.0              Reliquary           10.0        NaN            NaN
4        NaN  CSI, Miami: Heat Wave            NaN     1996.0            7.0
5        NaN   Tempting the Heiress            NaN     1996.0            7.0